<h1 class="center">Editar Hotel</h1>
<%= render 'form' %>
<div class="container">
	<div class="row">
		<div class="col s12">
			<%= link_to 'Mostrar informacion completa', @hotel %> |
			<%= link_to 'Atras', hotels_path %>
		</div>
	</div>
</div>